{% extends 'base.twig' %}
{% block pageTitle %}Yönetici Paneli{% endblock %}
{% block content %}
    <div class="login">
        <h3 class="title">Oturum Aç</h3>
        <form action="/manage/login" method="post">
            <div class="input-row">
                <label for="email">Eposta:</label>
                <input type="email" id="email" name="email">
            </div>
            <div class="input-row">
                <label for="password">Parola:</label>
                <input type="password" id="password" name="password">
            </div>
            <div class="input-row">
                <button type="submit">Oturum Aç</button>
            </div>

            {% for type, messages in flash %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }}">{{ message }}</div>
                {% endfor %}
            {% endfor %}

        </form>
    </div>
{% endblock %}