<nav class="admin-menu">
    <a class="admin-menu-item {{ page == 'leauges' ? 'active' : '' }}" href="/manage/leauges">Ligler</a>
    <a class="admin-menu-item {{ page == 'fixtures' ? 'active' : '' }}" href="/manage/fixtures">Fikstür</a>
    <a class="admin-menu-item {{ page == 'teams' ? 'active' : '' }}" href="/manage/teams">Takımlar</a>
    <a class="admin-menu-item {{ page == 'matches' ? 'active' : '' }}" href="/manage/matches">Maçlar</a>
</nav>