{% extends 'base.twig' %}
{% block title %}XHR{% endblock %}
{% block content %}

    <button name="xhr">XHR Test</button>
    <button name="xhrJquery">jQuery XHR Test</button>
    <button name="xhrFetch">Fetch Test</button>
    <button name="xhrAxios">Axios Test</button>

    <hr>

    <code id="results">
        ...
    </code>

{% endblock %}