body{
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    font-size:.875rem;
    line-height:1.25rem;
    margin:0;
    background:rgba(243, 243, 243, 1);
}
.container{
    display: flex;
    justify-content: center;
    min-width: 1280px;
}
.page {
    width:100%;
    max-width: 1280px;
}
.logo{
    text-align:center;
}
.logo img{
    max-height:150px;
}
.content{
    display:flex;
}
.sidebar{
    width:20%;
    margin-right:.5rem;
}
.nav-item{
    text-decoration: none;
    padding:0.5rem;
    color: rgba(55, 60, 65, 1);
    display:flex;
    align-items: center;
    justify-items: center;
    border-radius: .375rem;
    margin-bottom:.5rem;
}
.nav-item>svg{
    width:1rem;
    height:1rem;
    color:rgba(155,165,175,1);
    margin-right:.75rem;
}
.nav-item.active,
.nav-item:hover{
    color:rgba(25, 180, 155, 1);
    background-color: rgba(250, 250, 250, 1);
}
.nav-item.active{
    font-weight: 700;
}

.page-content{
    width:80%;
    padding:1rem 1.5rem;
    background:rgba(255,255,255,1);
    border-radius: .5rem;
}

header h5{
    font-size:1.25rem;
    font-weight:800;
    line-height:1.75rem;
    margin:0 0 1rem;
    text-align: center;
}
.fixture{
    display:flex;
    flex-direction: column;
}
.week{
    color:rgba(255,255,255,1);
    background:rgba(23,23,23,1);
    padding:.75rem 1.5rem;
    margin-bottom:1px;
}
.matches{
    display:grid;
    gap:1px;
    grid: '1 1';
}
.match{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:10px;
    grid-auto-rows: minmax(65px, auto);
    background:rgba(245,245,245,1);
    padding:1.5rem 2rem;
}
.clubs{
    grid-column: 1 / 3;
    grid-row: 1;
}
.club{
    display: flex;
    justify-content: space-between;
    font-size:1rem;
}
.club:first-child{
    margin-bottom:1rem;
}
.score{
    display: flex;
    align-items: center;
    position: relative;
}
.winner{
    position: absolute;
    right:-10px;
}
.home, .away, .team{
    display: flex;
    align-items: center;
}
.home img, .away img, .team img{
    max-width: 24px;
    margin-right:1rem;
}
.datetime{
    grid-column: 3;
    grid-row: 1;
    border-left: 1px solid rgba(215,215,215, 1);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.standings {
    width:100%;
    background: rgba(245,245,245,1);
    border-collapse: collapse;
}
.standings th{
    font-weight: normal;
    font-size:.875rem;
    height:40px;
}
.standings td{
    height: 40px;
    border-bottom:1px solid rgba(215,215,215,1);
}
.standings th, .standings tr:hover td{
    color:rgba(255,255,255,1);
    background:rgba(23,23,23,1);
}
.standings tr:last-child td,
.standings tr td:first-child{
    border-color:transparent;
}
.standings .col {
    text-align: center;
    width:3rem;
}
.standings th:not(.col){
    text-align: left;
}
.ucl, .uel, .goodbye{
    width:3px;
    height:40px;
}
.ucl{
    background:rgba(66,133,244,1);
}
.uel{
    background:rgba(250, 123, 23, 1);
}
.goodbye{
    background: rgba(234, 67, 53, 1);
}
.results{
    display:flex;
    margin-right:10px;
}
.result{
    padding:1px;
}
.ranking{
    width:1.25rem;
}